<article>
  <header>
    <h2><%= @movie.title %></h2>
    <%= image_for(@movie) %>
  </header>
  <p>
    <strong>Movie Description</strong><br>
    <%= @movie.description %>
  </p>
  <table>
    <tr>
      <th style="text-align: right">Released:</th>
      <td><%= @movie.released_on.to_s(:release_date) %></td>
    </tr>
    <tr>
      <th style="text-align: right">Rating:</th>
      <td><%= @movie.rating %></td>
    </tr>
    <tr>
      <th style="text-align: right">Total Gross:</th>
      <td><%= format_total_gross(@movie) %></td>
    </tr>
    <tr>
      <th style="text-align: right">Director:</th>
      <td><%= @movie.director %></td>
    </tr>
    <tr>
      <th style="text-align: right">Duration:</th>
      <td><%= @movie.duration %> min</td>
    </tr>
    <tr>
      <th style="text-align: right">Cast:</th>
      <td><%= @movie.cast.join(", ") %></td>
    </tr>
  </table>
</article>
<br>
<%= link_to "All Movies", root_path %> |
<%= link_to("Edit Movie", edit_movie_path(@movie)) %> | 
<%= link_to "Delete Movie", movie_path(@movie), method: :delete, data: { confirm: 'Do you really want to delete this movie?' } %>