<%= form_for([@movie, @review]) do |f| %>
  <%= render 'shared/errors', object: @review %>
  <p class="required">
    <%= f.label :name  %><br>
    <%= f.text_field :name, autofocus: true %>
  </p>
  <p class="required stars">
    <%= f.label :stars  %><br>
    <%= f.select :stars, Review::STARS, prompt: "Select one" %>
  </p>
  <p class="required">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, placeholder: "Write your comment here" %>
  </p>
  
  <%= f.submit %>
<% end %>

<br>
<%= link_to "Cancel", @movie, class: 'button' %>