<header class="content-header">
  <h1>Reviews for <%= link_to @movie.title, movie_path(@movie) %></h1>
</header>

<section>
  <ul class="reviews">
    <% @reviews.each do |review| %>
      <li>
        <p><%= review.stars %> stars by <%= review.name %> (<%= time_ago_in_words(review.updated_at) %>): <%= link_to "Delete review", movie_review_path(@movie, review), method: :delete %></p> 
        <p>"<%= review.comment %>"</p>
      </li>
    <% end %>
  </ul>
</section>
